.elementor-8183 .elementor-element.elementor-element-2d8114b3>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: flex-start;
    align-items: flex-start;
}

.elementor-8183 .elementor-element.elementor-element-2d8114b3 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0% 0% 0% 5%;
}

.elementor-bc-flex-widget .elementor-8183 .elementor-element.elementor-element-7a98211f.elementor-column .elementor-widget-wrap {
    align-items: flex-end;
}

.elementor-8183 .elementor-element.elementor-element-7a98211f.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: flex-end;
    align-items: flex-end;
}

.elementor-widget-icon.elementor-view-stacked .elementor-icon {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-icon.elementor-view-framed .elementor-icon,
.elementor-widget-icon.elementor-view-default .elementor-icon {
    color: var( --e-global-color-primary);
    border-color: var( --e-global-color-primary);
}

.elementor-widget-icon.elementor-view-framed .elementor-icon,
.elementor-widget-icon.elementor-view-default .elementor-icon svg {
    fill: var( --e-global-color-primary);
}

.elementor-8183 .elementor-element.elementor-element-282a956a .elementor-icon-wrapper {
    text-align: left;
}

.elementor-8183 .elementor-element.elementor-element-282a956a.elementor-view-stacked .elementor-icon {
    background-color: #062768;
}

.elementor-8183 .elementor-element.elementor-element-282a956a.elementor-view-framed .elementor-icon,
.elementor-8183 .elementor-element.elementor-element-282a956a.elementor-view-default .elementor-icon {
    color: #062768;
    border-color: #062768;
}

.elementor-8183 .elementor-element.elementor-element-282a956a.elementor-view-framed .elementor-icon,
.elementor-8183 .elementor-element.elementor-element-282a956a.elementor-view-default .elementor-icon svg {
    fill: #062768;
}

.elementor-8183 .elementor-element.elementor-element-282a956a .elementor-icon {
    font-size: 100px;
}

.elementor-8183 .elementor-element.elementor-element-282a956a .elementor-icon svg {
    height: 100px;
}

.elementor-8183 .elementor-element.elementor-element-282a956a>.elementor-widget-container {
    margin: -14px 0px -19px 0px;
}

.elementor-widget-heading .elementor-heading-title {
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
    color: var( --e-global-color-primary);
}

.elementor-8183 .elementor-element.elementor-element-29152ce {
    text-align: center;
}

.elementor-8183 .elementor-element.elementor-element-29152ce .elementor-heading-title {
    font-family: "Questrial", Sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-transform: capitalize;
    font-style: normal;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: 1.4px;
    color: #05132F;
}

.elementor-widget-button .elementor-button {
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-weight: var( --e-global-typography-accent-font-weight);
    background-color: var( --e-global-color-accent);
}

.elementor-8183 .elementor-element.elementor-element-5efd313d .elementor-button {
    font-family: "Questrial", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    font-style: normal;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: 1.4px;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: #062768;
    border-radius: 0px 0px 0px 0px;
    padding: 12px 25px 12px 25px;
}

.elementor-8183 .elementor-element.elementor-element-5efd313d .elementor-button:hover,
.elementor-8183 .elementor-element.elementor-element-5efd313d .elementor-button:focus {
    color: #062768;
    background-color: #FFFFFF;
}

.elementor-8183 .elementor-element.elementor-element-5efd313d .elementor-button:hover svg,
.elementor-8183 .elementor-element.elementor-element-5efd313d .elementor-button:focus svg {
    fill: #062768;
}

#elementor-popup-modal-8183 .dialog-message {
    width: 1000px;
    height: auto;
}

#elementor-popup-modal-8183 {
    justify-content: center;
    align-items: flex-start;
    pointer-events: all;
    background-color: rgba(0, 0, 0, .8);
}

#elementor-popup-modal-8183 .dialog-close-button {
    display: flex;
}

#elementor-popup-modal-8183 .dialog-widget-content {
    box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, 0.2);
}

@media(max-width:1024px) {
    .elementor-8183 .elementor-element.elementor-element-282a956a .elementor-icon {
        font-size: 65px;
    }
    .elementor-8183 .elementor-element.elementor-element-282a956a .elementor-icon svg {
        height: 65px;
    }
    .elementor-8183 .elementor-element.elementor-element-282a956a>.elementor-widget-container {
        margin: -9px 0px -15px 0px;
    }
    .elementor-8183 .elementor-element.elementor-element-29152ce .elementor-heading-title {
        font-size: 20px;
    }
    .elementor-8183 .elementor-element.elementor-element-5efd313d .elementor-button {
        font-size: 14px;
    }
}

@media(min-width:768px) {
    .elementor-8183 .elementor-element.elementor-element-7a98211f {
        width: 19.972%;
    }
    .elementor-8183 .elementor-element.elementor-element-41a03a6e {
        width: 59.305%;
    }
    .elementor-8183 .elementor-element.elementor-element-1fab5a19 {
        width: 20.04%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-8183 .elementor-element.elementor-element-7a98211f {
        width: 10%;
    }
    .elementor-8183 .elementor-element.elementor-element-41a03a6e {
        width: 70%;
    }
    .elementor-8183 .elementor-element.elementor-element-1fab5a19 {
        width: 19%;
    }
}

@media(max-width:767px) {
    .elementor-8183 .elementor-element.elementor-element-2d8114b3 {
        padding: 0% 2% 0% 2%;
    }
    .elementor-8183 .elementor-element.elementor-element-7a98211f {
        width: 20%;
    }
    .elementor-8183 .elementor-element.elementor-element-282a956a .elementor-icon {
        font-size: 45px;
    }
    .elementor-8183 .elementor-element.elementor-element-282a956a .elementor-icon svg {
        height: 45px;
    }
    .elementor-8183 .elementor-element.elementor-element-282a956a>.elementor-widget-container {
        margin: 0px 0px -11px 0px;
    }
    .elementor-8183 .elementor-element.elementor-element-41a03a6e {
        width: 50%;
    }
    .elementor-8183 .elementor-element.elementor-element-29152ce {
        text-align: left;
    }
    .elementor-8183 .elementor-element.elementor-element-29152ce .elementor-heading-title {
        font-size: 14px;
    }
    .elementor-8183 .elementor-element.elementor-element-1fab5a19 {
        width: 30%;
    }
    .elementor-8183 .elementor-element.elementor-element-5efd313d .elementor-button {
        font-size: 12px;
        padding: 8px 10px 8px 10px;
    }
}